$maincolor:#3281a8;
$textcolor:#FFFFFF;
@mixin mobile {
    @media screen and (max-width:580px){
        @content;
    }
}
nav{
    width: inherit;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include mobile{
        height: 12vh;
        flex-direction: column;
    }
    .logo{
        position: absolute;
        padding: 0 3vmin;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex:1;
        @include mobile{
            position: relative;
            width: inherit;
            height: 6vh;
        }
    }
    ul{
        width: 100vw;
        line-height: inherit;
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        @include mobile{
            width: 100vw;
        }
        li{
            display: inline;
            margin: 0 2vmin;
            border-radius: 100vw 100vw;
            overflow: hidden;   
            .link{
                text-decoration: none;
                background: inherit;
                color:inherit;
                font-size: inherit;
                label{
                    padding: 1vw;
                }
                input{
                    display: none;
                }
                input[type="radio"]:checked + label{
                    color: $maincolor;
                    background: $textcolor;
                    padding: 1vw;
                }
             }
        }
    }
}